Render some shit
<li>The text "{{model.text}}" is record number {{model.id}} and is owned by user id #{{model.user_id}}.  It was created at {{model.created_at}}</li>

{{!-- {{#each model as |example|}}
{{log example}}
{{/each}}
{{outlet}} --}}
